logs/
.env
node_modules
.turbo
apps/web/data/docker-databases
apps/web/.bosdb-data
apps/web/.bosdb-vcs
.env
.env.local
.env.production
dist/
build/
coverage/
*.log
npm-debug.log*
.yarn-debug.log*
.yarn-error.log*
.pnpm-debug.log*
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
Dockerfile
Dockerfile.dev
Dockerfile.prod
docker-compose.yml
docker-compose.deploy.yml
docker-compose.prod.yml
apps/web/.next
.next/
